<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar Frequência</title>
</head>
<body>
    <h1>Registrar Frequência de {{ aluno.nome_completo }}</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="data">Data:</label>
        <input type="date" name="data" required>
        <label for="presente">Presente:</label>
        <input type="checkbox" name="presente" value="True">

        <button type="submit">Registrar Frequência</button>
    </form>
</body>
</html>
