<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aluno</title>
</head>
<body>
    <h1>Editar Aluno: {{ aluno.nome_completo }}</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Exibe o formulário -->
        <button type="submit">Salvar Alterações</button>
    </form>

    <p><a href="{% url 'aluno_lista' %}">Voltar para a lista de alunos</a></p>
</body>
</html>
